<%- include('header'); -%>

    <h2> This is About page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam at quam eius alias nobis fugiat perspiciatis labore veniam explicabo ea. Praesentium nemo ea, laboriosam ut ullam vel reiciendis tempore nesciunt ad amet modi! Ea id sapiente beatae, sed inventore enim?Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam aspernatur impedit facilis dolore reprehenderit accusantium quisquam cupiditate in sit consequatur, neque, commodi quaerat nostrum iste earum repellendus sint laboriosam quae.</p>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam, similique. Deleniti sint eveniet dolorum maiores sapiente at unde eligendi corrupti architecto labore blanditiis pariatur, itaque cumque, nemo tempore molestias. Nobis aliquam, officiis culpa eum suscipit quo voluptas consequatur voluptate assumenda, similique, voluptatum quos reprehenderit velit excepturi quod corrupti earum ea!
</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, fugiat.</p>


<%- include('footer'); -%>